button{
  font-size: 18px;
  /* padding: 15px; */
  /* border: 2px solid #FFF; */
  color: #FFF;
  display: block;
  /* margin: 50px auto; */
  background: transparent;
  transition: .2s ease-in-out 0s;
}

button:hover{
     cursor: pointer;
     transform: scale(1.25);
     background: #FFF;
     color: #000;
}
  
 